<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title></title>
 </head>
 <body>
 <header>
  <form class="" action="/user-options">
     <button type="submit" name="Home"> Home </button>
   </form>
   <div>
     <form action="/users/<%= session[:user_id] %>/session/destroy" method="post">
       <button type="submit">Sign Out</button>
     </form>
   </div>
   <form class="" action="/requests">
     <button type="submit" name="requests">My Requests</button>
   </form>
 </header>
 <% @spaces.each do |space| %>
  <div class="space" id=<%="#{space.id}"%>>
    <div class="name"> <%= "#{space.name}" %> </div> <br>
    <div class="description"> <%= "#{space.description}" %> </div> <br>
    <div class="ppn"> <%= "Price per night only: £#{space.ppn / 100}" %> </div>
    <a href="spaces/<%="#{space.id}"%>">See more...</a>
  </div>
 <% end %>
 </body>
</html>
