<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Requests</title>
  </head>
  <body>
  <header> </header>

    <h1>My Requests</h1>
    <form class="" action="/user-options">
      <button type="submit" name="Home"> Home </button>
    </form>
    <form action="/users/<%= session[:user_id] %>/session/destroy" method="post">
      <button type="submit">Sign Out</button>
    </form>
    <div class="flash-notice">
      <%= flash[:notice] %>
    </div>
    <h2>Requests I've Made</h2>
      <% @requests_made.each do |request| %>
        <div class = 'request'>
        <h3><%=request.space_name%></h3>
          <p><%=request.space_description %></p>
          <p>Start Date: <%=request.start_date %></p>
          <p>End Date: <%=request.end_date %></p>
          <p>Status: <%=request.status %></p>
        </div>
      <% end %>

    <h2> Requests I've Received </h2>
      <% @requests_to_review.each do |request| %>
      <div class = request > 
        <h3><%=request.space_name%> <span>(<%=request.status%>)</span></h3>
        <p><%=request.space_description %></p>
        </p>From <%=request.start_date %> until <%=request.end_date %></p>
        <form class="accept_request" action=<%= "/requests/#{request.id}/accept" %> method="post">
          <button type="submit" name="accept">Accept</button>
        </form>
        <form class="decline_request" action=<%= "/requests/#{request.id}/decline" %> method="post">
          <button type="submit" name="accept">Decline</button>
        </form>
      </div>
    <% end %>
  </body>
</html>
