<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Spaces</title>
  </head>
  <body>
  <header>
    <h1>My Spaces</h1>
    <form class="" action="/user-options">
      <button type="submit" name="Home"> Home </button>
    </form>
    <div>
      <form action="/users/<%= session[:user_id] %>/session/destroy" method="post">
        <button type="submit">Sign Out</button>
      </form>
    </div>
  </header>
    <div class="flash-notice">
      <%= flash[:notice] %>
    </div>
       <div class="">
         <% @my_spaces.each do |space| %>
         <space id="<%= space.id%>">
            <h2><%= space.name%></h2><br>
            <p><%= space.description%></p><br>
            <p><%= space.ppn%></p>
          </space>
         <% end %>
  </body>
</html>
